spring:
   cloud:
      config:
         server:
            git:
               uri: https://github.com/Nectia/config-repo
               basedir: target/config

server:
  port: 8888

security:
  user:
    password: s3cret
